.nav-left {
  .logo {
    background: #002140 url(/assets/logo-ant.svg) no-repeat 10px center / 50px 50px;
    h1 {
      padding: 10px 0 10px 70px;
      color: #fff;
      line-height: 64px;
      font-size: 24px;
      margin: 0;
    }
    img {
      width: 10px;
      height: 10px;
    }
  }
}